## TOPIC: String Based Assignment Problem

### 1. Write a program to reverse a string.

In [1]:
s = input("Enter the string")
s = s[::-1]
print(s)

Enter the string rachit

tihcar

### 2. Check if a string is a palindrome.

In [6]:
s = input("Enter the string")
s = s.upper()
if s == s[::-1]:
    print("palindrome")
else:
    print("not palindrome")

Enter the string Tet

palindrome

### 3. Convert a string to uppercase.

In [7]:
s = input("Enter the string")
print(s.upper())

Enter the string rachit

RACHIT

### 4. Convert a string to lowercase.

In [8]:
s = input("Enter the string")
print(s.lower())

Enter the string RACHIT

rachit

### 5. Count the number of vowels in a string.

In [10]:
s = input("Enter the string")
s.count("a") + s.count("e") + s.count("i") + s.count("o") + s.count("u")

Enter the string aeiou

5

### 6. Count the number of consonants in a string.

In [3]:
s="aeiou"
s=s.lower()
l=len(s)
cc=0
vc=0
for i in range(l):
    if s[i]=="a" or s[i]=="e" or s[i]=="i" or s[i]=="o" or s[i]=="u":
        vc=vc+1
    elif s[i]>="a" and s[i]<="z":
        cc= cc+1
print(cc)
print(vc)

0
5

### 7. Remove all whitespaces from a string.

In [13]:
s = input("Enter the string")
s  =s.replace(" " ,"")
print(s)

Enter the string r  achit

rachit

### 8. Find the length of a string without using the `len()` function.

In [1]:
s=input("Enter the string")
c=0
for i in s:
    if type(s)==str:
        c=c+1
print(c)

Enter the string ra cgguh

8

### 9. Check if a string contains a specific word.

In [12]:
s="i am rachit"
s.lower()
s1=input("enter the word")
if s.find(s1)!=-1:
    print("contains")
else:
    print("not contains")

enter the word z

not contains

### 10. Replace a word in a string with another word.

In [17]:
s = "Rachit is smart"
s = s.replace("smart","handsome")
print(s)

Rachit is handsome

### 11. Count the occurrences of a word in a string.

In [18]:
s = input("Enter the string")
w = input("Enter the word")
s.count(w)

Enter the string Rachit is hardworking,smart
Enter the word smart

1

### 12. Find the first occurrence of a word in a string.

In [13]:
s = input("Enter the string")
w = input("Enter the word")
s.find(w)

Enter the string hi hi rachit
Enter the word hi

0

### 13. Find the last occurrence of a word in a string.

In [14]:
s = input("Enter the string")
w = input("Enter the word")
s.rfind(w)

Enter the string i i  i
Enter the word i

5

### 14. Split a string into a list of words.

In [26]:
s = input("Enter the string")
s.split()

Enter the string rachit is good

['rachit', 'is', 'good']

### 15. Join a list of words into a string.

In [145]:
s=["r","t","z"]

In [147]:
s2=""
for i in s:
    s2=s2+"".join(i)
print(s2)

rtz

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [16]:
s="i am rachit"
s.replace(" ","_")

'i_am_rachit'

### 17. Check if a string starts with a specific word or phrase.

In [26]:
s="i am rachit"
s.lower()
s1=input("enter the word")
s.startswith(s1)

enter the word i am

True

### 18. Check if a string ends with a specific word or phrase.

In [24]:
s="i am rachit"
s.lower()
s1=input("enter the word")
s.endswith(s1)

enter the word t

True

### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [150]:
s="hello world"
s=s.title()
s

'Hello World'

### 20. Find the longest word in a string.

In [22]:
s="rachit is good"
s=s.split()
l=s
res=len(max(l,key=len))
res
for i in l:
    if len(i)==res:
        print(i)

rachit

### 21. Find the shortest word in a string.

In [24]:
s="rachit is good"
s=s.split()
l=s
res=len(min(l,key=len))
res
for i in l:
    if len(i)==res:
        print(i)

is

### 22. Reverse the order of words in a string.

In [151]:
s="rachit"
s=s[::-1]
s

'tihcar'

### 23. Check if a string is alphanumeric.

In [158]:
s="rachit "
s.isalnum()

False

### 24. Extract all digits from a string.

In [52]:
s="123rachit"
l=list(s)
r=[]
for i in l:
    if i.isnumeric():
        r.append(i)
r

['1', '2', '3']

### 25. Extract all alphabets from a string.

In [58]:
s="123rachit"
l=list(s)
r=[]
s1=""
for i in l:
    if i.isalpha():
        r.append(i)
r

['r', 'a', 'c', 'h', 'i', 't']

### 26. Count the number of uppercase letters in a string.

In [176]:
l=[]
s= "I am gooD"
for i in s:
    if i.isupper()==True:
        l.append(i)
len(l)

2

### 27. Count the number of lowercase letters in a string.

In [175]:
l=[]
s= "I am gooD"
for i in s:
    if i.islower()==True:
        l.append(i)
len(l)

5

###  28. Swap the case of each character in a string.

In [37]:
s="racHIT"
s=s.swapcase()
s

'RAChit'

### 29. Remove a specific word from a string.

In [53]:
s= "I am Rachit Pachauri"
s=s.replace("Rachit","")
s

'I am  Pachauri'

### 30. Check if a string is a valid email address.

In [3]:
import re  
  
def validate_email(email):  
    if re.match(r"[^@]+@[^@]+\.[^@]+", email):  
        return True  
    return False  
  
email = "example@domain.com"  
if validate_email(email):  
    print("Valid email address")  
else:  
    print("Invalid email address")

Valid email address

###  31. Extract the username from an email address string.

In [69]:
s="rachit@gmail.com"
l=s.index("@")
s1=""
for i in s[:l]:
    if i.isalpha():
        s1=s1+"".join(i)
s1

'rachit'

### 32. Extract the domain name from an email address string.

In [72]:
s="rachit@gmail.com"
l=s.index("@")
s1=""
for i in s[l:]:
    if i.isalpha() or i==".":
        s1=s1+"".join(i)
s1

'gmail.com'

### 33. Replace multiple spaces in a string with a single space.

In [60]:
s="i am rachit     pachauri"
w=s.split()
s1=""
s1=s1+" ".join(w)
s1

'i am rachit pachauri'

### 34. Check if a string is a valid URL.

In [6]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  
print(result2)

True
False

### 35. Extract the protocol (http or https) from a URL string.

In [8]:
def extract_protocol(url):
   
    protocol_end = url.find("://")

    if protocol_end != -1:
        
        protocol = url[:protocol_end]
        return protocol
    else:
        return None


url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"


protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)


print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

### 36. Find the frequency of each character in a string.

In [2]:
def character_frequency(input_string):
    frequency = {}  

    for char in input_string:
        if char in frequency:
            frequency[char] += 1 
            frequency[char] = 1   

    return frequency


input_str = "hello world"


char_freq = character_frequency(input_str)


for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

### 37. Remove all punctuation from a string.

In [23]:
test_str = "Gfg, is best : for ! Geeks ;"
 

print("The original string is : " + test_str)
 

punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
 

for ele in test_str:
    if ele in punc:
        test_str = test_str.replace(ele, "")
 

print("The string after punctuation filter : " + test_str)

The original string is : Gfg, is best : for ! Geeks ;
The string after punctuation filter : Gfg is best  for  Geeks

### 38. Check if a string contains only digits.

In [3]:
s="123456"
s.isdigit()

True

### 39. Check if a string contains only alphabets.

In [186]:
s="abcHhsjish"
s.isalpha()

True

### 40. Convert a string to a list of characters.

In [8]:
s="rachit"
s=list(s)
s

['r', 'a', 'c', 'h', 'i', 't']

### 41. Check if two strings are anagrams.

In [14]:
x="state"
y="taste"
x=set(x)
y=set(y)
if x.issubset(y) == True:
    print("anagrams")
else:
    print("not anagrams")

anagrams

### 42. Encode a string using a Caesar cipher.

In [8]:
def caesar_cipher(text, shift):
 

  
  encoded_text = ""

 
  for char in text:
    
    if char.isalpha():
     
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
     
      encoded_char = char

    
    encoded_text += encoded_char

  
  return encoded_text


text = "Hello, world!"
shift = 3


encoded_text = caesar_cipher(text, shift)


print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

### 43. Decode a Caesar cipher encoded string.

In [10]:
def caesar_cipher_decoder(text, shift):
    

   
    decoded_text = ""

    
    for char in text:
        
        if char.isalpha():
           
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
           
            decoded_char = char

       
        decoded_text += decoded_char

   
    return decoded_text


text = "lopp, zruog!"
shift = 3


decoded_text = caesar_cipher_decoder(text, shift)


print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

### 44. Find the most frequent word in a string.

In [14]:
import re
from collections import Counter

def most_frequent_word(input_string):
   
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    
    words = clean_string.split()

    
    word_counter = Counter(words)

    
    most_common_word = word_counter.most_common(1)[0][0]




    return most_common_word


input_str = "Hello world, hello there! How's the world?"


most_common = most_frequent_word(input_str)


print("Most frequent word:", most_common)

Most frequent word: hello

### 45. Find all unique words in a string.

In [6]:
s="geeks for geeks is a wesite"
s=s.split()
s=set(s)
s=list(s)

for i in s:
    print(i)

a
geeks
for
is
wesite

### 46. Count the number of syllables in a string.

In [6]:
s="aeiouaaaaattt"
s.lower()
s.count("a")+s.count("e")+s.count("i")+s.count("o")+s.count("u")

10

### 47. Check if a string contains any special characters.

In [7]:
n = "Geeks$For$Geeks"
n.split()
c = 0
s = '[@_!#$%^&*()<>?/\|}{~:]'  
for i in range(len(n)):

    if n[i] in s:
        c += 1   
if c>0:
    print("contains special character")
else:
    print("cannot contains special character")

contains special character

### 48. Remove the nth word from a string.

In [63]:
s="rachit"
s=list(s)
s1=""
n=int(input("enter the nth position"))

s.pop(n)
s
for i in s:
    s1=s1+"".join(i)
s1

enter the nth position 2

'rahit'

### 49. Insert a word at the nth position in a string.

In [59]:
s="rachit"
s=list(s)
s1=""
n=int(input("enter the nth position"))
w=input("enter the word")
s.insert(n,w)
s
for i in s:
    s1=s1+"".join(i)
s1

enter the nth position 2
enter the word rachit

'rarachitchit'

### 50. Convert a CSV string to a list of lists.

In [15]:
def csv_string_to_list(csv_string):
   
    lines = csv_string.split('\n')

   
    result = []

    for line in lines:
        
        fields = line.split(',')

        
        result.append(fields)

    return result


csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"


list_of_lists = csv_string_to_list(csv_data)


for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

## List Based Practice Problem :

### 1. Create a list with integers from 1 to 10.

In [14]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [58]:
l=[1,2,3,4,5]
c=0
for i in l:
    c=c+1
print(c)

5

### 3. Append an element to the end of a list.

In [21]:
l=[1,2,3]
l.append(4)

In [22]:
l

[1, 2, 3, 4]

### 4. Insert an element at a specific index in a list.

In [2]:
l=[1,2,3]
index = int(input("enter the index"))
n = int(input("enter the  number"))
l.insert(index,n)

l

enter the index 0
enter the  number 12

[12, 1, 2, 3]

### 5. Remove an element from a list by its value.

In [1]:
l = [1,2,3,4,5]
n=int(input("enter the number"))
l.remove(n)
l

enter the number 3

[1, 2, 4, 5]

### 6. Remove an element from a list by its index.

In [1]:
l = [1,2,3,4,5]
n=int(input("enter the index"))
l.pop(n)
l

enter the index 1

[1, 3, 4, 5]

### 7. Check if an element exists in a list.

In [3]:
n = int(input("enter the number"))
l=[1,2,3,4,5]
count=False
for i in l:
    if i==n:
        count=True
if count==True:
    print("found")
else:
    print("not found")

enter the number 6

not found

### 8. Find the index of the first occurrence of an element in a list.

In [4]:
n = int(input("Enter the index"))
l = [1,2,3,4,5]
l.index(n)

Enter the index 3

2

### 9. Count the occurrences of an element in a list.

In [6]:
n = int(input("Enter the number"))
l = [1,2,3,3,4,5]
l.count(n)

Enter the number 3

2

### 10. Reverse the order of elements in a list.

In [9]:
l = [1,2,3,3,4,5]
l.reverse()
l

[5, 4, 3, 3, 2, 1]

### 11. Sort a list in ascending order.

In [10]:
l =[1,5,6,4,8,9,7]
l.sort()
l

[1, 4, 5, 6, 7, 8, 9]

### 12. Sort a list in descending order.

In [11]:
l =[1,5,6,4,8,9,7]
l.sort(reverse=True)
l

[9, 8, 7, 6, 5, 4, 1]

### 13. Create a list of even numbers from 1 to 20.

In [12]:
[i  for i in range(1,21) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [13]:
[i  for i in range(1,21) if i%2!=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [15]:
l= [1,2,3,4,5,6]
s=0
for i  in l:
    s= s+i
print(s)

21

### 16. Find the maximum value in a list.

In [97]:
from functools import reduce

In [98]:
l=[1,2,6,8,2]
reduce(lambda x,y:x if x>y else y,l)

8

### 17. Find the minimum value in a list.

In [99]:
l=[1,2,6,8,2]
reduce(lambda x,y:x if x<y else y,l)

1

### 18. Create a list of squares of numbers from 1 to 10.

In [100]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [60]:
import random

In [61]:
[random.randint(1,100) for i in range(10)]

[64, 57, 64, 97, 89, 17, 77, 1, 47, 75]

### 20. Remove duplicates from a list.

In [103]:
l =[1,2,2,2,5,6,8]
l=set(l)
l=list(l)
l

[1, 2, 5, 6, 8]

### 21. Find the common elements between two lists.

In [108]:
x=[1,2,3]
y=[2,3,4]
x=set(x)
y=set(y)
z=x.intersection(y)
z=list(z)
z

[2, 3]

### 22. Find the difference between two lists.

In [109]:
x=[1,2,3]
y=[2,3,4]
x=set(x)
y=set(y)
z=x.difference(y)
z=list(z)
z

[1]

### 23. Merge two lists.

In [110]:
x=[1,2,3]
y=[2,3,4]
x=x+y
x

[1, 2, 3, 2, 3, 4]

### 24. Multiply all elements in a list by 2.

In [111]:
l=[1,2,3,4,5,6]
list(map(lambda x:x*2,l))

[2, 4, 6, 8, 10, 12]

### 25. Filter out all even numbers from a list.

In [112]:
list(filter(lambda x:x%2==0,l) )

[2, 4, 6]

### 26. Convert a list of strings to a list of integers.

In [62]:
l=["1","8","9"]
list(map(int,l))

[1, 8, 9]

### 27. Convert a list of integers to a list of strings.

In [63]:
l=[1,2,3,4,5,6]
list(map(str,l))

['1', '2', '3', '4', '5', '6']

### 28. Flatten a nested list.

In [1]:
l=[[1],[2,3],[4,5,6,7],[8,9]]
l1=[]
for i in l:
    if type(i)==list:
        for j in i:
            l1.append(j)
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 29. Create a list of the first 10 Fibonacci numbers.

In [113]:
a,b=0,1
for i in range(11):
    c=a+b
    print(a)
    a,b=b,c

0
1
1
2
3
5
8
13
21
34
55

### 30. Check if a list is sorted.

In [82]:
l=[1,9,4,5,7,8]
l1=l[:]
l1.sort()
if l==l1:
    print("sorted")
else:
    print("unsorted")

unsorted

### 31. Rotate a list to the left by `n` positions.

In [94]:
l=[1,2,3,8,9,4,6,2]
n=int(input("enter the rotation"))
l=l[n:]+l[:n]
l

enter the rotation 3

[8, 9, 4, 6, 2, 1, 2, 3]

### 32. Rotate a list to the right by `n` positions.

In [96]:
l=[8,9,4,6,2,1,2,3]
n=int(input("enter the rotation"))
l=l[-n:]+l[:-n]
l

enter the rotation 3

[1, 2, 3, 8, 9, 4, 6, 2]

### 33. Create a list of prime numbers up to 50.

In [99]:
l=[]
for i in range(2,51):
    c=0
    for j in range(1,51):
        if i%j==0:
            c=c+1
    if c==2:
        l.append(i)
l

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 34. Split a list into chunks of size `n`.

In [50]:
def chunks(n):
    l=[1,2,3,4,5,6,7,8,9]
    l1=len(l)
    for i in range(0,l1,n):
        yield l[i:i+n]

In [51]:
list(chunks(3))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### 35. Find the second largest number in a list.

In [76]:
l=[1,5,5,6,8,9,9]
l=set(l)
l=list(l)
l.sort(reverse=True)
l[1]

8

### 36. Replace every element in a list with its square.

In [128]:
l=[1,2,3,4]
l=list(map(lambda x:x**2,l))
l

[1, 4, 9, 16]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [53]:
l=["rachit","Pachauri"]
d = {l[i]: i for i in range(len(l))}



d

{'rachit': 0, 'Pachauri': 1}

### 38. Shuffle the elements of a list randomly.

In [2]:
import random

In [5]:
l=[1,2,5,3,6,4,5,6,]
random.shuffle(l)
l

[6, 6, 5, 1, 3, 5, 4, 2]

### 39. Create a list of the first 10 factorial numbers.

In [130]:
f=1
for i in range(1,11):
    f=f*i
print(f)

3628800

### 40. Check if two lists have at least one element in common.

In [12]:
x=[1,2,3]
y=[3,4,5]
x=set(x)
y=set(y)
z=x.intersection(y)
if len(z)==1:
    print("one common")
elif len(z)==0:
    print("no common element")
else:
    print("more common element")

one common

### 41. Remove all elements from a list.

In [131]:
l=[1,4,5,6,8,9]
l.clear()
l

[]

### 42. Replace negative numbers in a list with 0.

In [44]:
l=[-1,-2,-5,2,5,6]
l1=len(l)
for i in  range(l1):
    if l[i]<0:
        l[i]=0
    
    
l

[0, 0, 0, 2, 5, 6]

### 43. Convert a string into a list of words.

In [134]:
s="rachit"
s=list(s)
s

['r', 'a', 'c', 'h', 'i', 't']

### 44. Convert a list of words into a string.

In [136]:
s

['r', 'a', 'c', 'h', 'i', 't']

In [139]:
s1=""
for i in s:
    s1=s1+"".join(i)
s1

'rachit'

### 45. Create a list of the first `n` powers of 2.

In [140]:
n=int(input())
[2**i for i in range(n+1)]

 5

[1, 2, 4, 8, 16, 32]

### 46. Find the longest string in a list of strings.

In [16]:
l=["rachit","pachauri","sudh"]
res=len(max(l,key=len))
res
for i in l:
    if len(i)==res:
        print(i)

pachauri

### 47. Find the shortest string in a list of strings.

In [15]:
l=["rachit","pachauri","sudh"]
res=len(min(l,key=len))
res
for i in l:
    if len(i)==res:
        print(i)

sudh

### 48. Create a list of the first `n` triangular numbers.

In [29]:
limit = 10
triangle_nums = []
num = 0

for i in range(1, limit + 1):
    num += i
    triangle_nums.append(num)
print(triangle_nums)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

### 49. Check if a list contains another list as a subsequence.

In [39]:
l=[1,2,3,4,5,[1,2,3]]
l1=[]
l2=[]
for i in l:
    if type(i)==list:
        for j in i:
            l1.append(j)
    elif type(i)!=list:
        l2.append(i)

        
l1=set(l1)
l2=set(l2)
l1.issubset(l2)

True

### 50. Swap two elements in a list by their indices.

In [27]:
l=[1,2,3,4,5]
l[0],l[1]=l[1],l[0]
l

[2, 1, 3, 4, 5]

## Tuple Based Practice Problem :

### 1. Create a tuple with integers from 1 to 5.

In [2]:
tuple(i for i in range(1,6))

(1, 2, 3, 4, 5)

### 2. Access the third element of a tuple.

In [33]:
t=(1,2,3,4)
a,b,c,d=t
print(d,c,b,a)

4 3 2 1

### 3. Find the length of a tuple without using the `len()` function.

In [34]:
t=(1,32,3,4,5,6)
c=0
for i in t:
    c=c+1
    
print(c)

6

### 4. Count the occurrences of an element in a tuple.

In [4]:
t=(1,2,3,4,5,6,6,6,6)
t.count(6)

4

### 5. Find the index of the first occurrence of an element in a tuple.

In [5]:
t=(1,2,2,3,3,4)
t.index(2)

1

### 6. Check if an element exists in a tuple.

In [9]:
t=(1,2,3,4,5,6)
n=int(input("enter the number"))
flag=False
for i in t:
    if i==n:
        flag=True
if flag==True:
    print("exist")
else:
    print("not exist")

enter the number 7

not exist

### 7. Convert a tuple to a list.

In [11]:
t=(1,2,3,4,5,6)
t=list(t)
t

[1, 2, 3, 4, 5, 6]

### 8. Convert a list to a tuple.

In [12]:
l=[1,2,3,4,5,6,7]
l=tuple(l)
l

(1, 2, 3, 4, 5, 6, 7)

### 9. Unpack the elements of a tuple into variables.

In [13]:
x,y,z=("rachit",4,True)
print(x)
print(y)
print(z)

rachit
4
True

### 10. Create a tuple of even numbers from 1 to 10.

In [16]:
tuple(i for i in range(1,11) if i%2==0)

(2, 4, 6, 8, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [17]:
tuple(i for i in range(1,11) if i%2!=0)

(1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [19]:
t1=(1,2,3)
t2=(4,5,6)
t1=t1+t2
t1

(1, 2, 3, 4, 5, 6)

### 13. Repeat a tuple three times.

In [20]:
t=(1,2,3)
print(t*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

### 14. Check if a tuple is empty.

In [25]:
t=tuple(input("Enter the number"))
if t==():
    print("empty")
else:
    print("not empty")

Enter the number

empty

### 15. Create a nested tuple.

In [34]:
t1=(1,2),
t2=(3,4),
t3=()
t3=t1+t2
t3

((1, 2), (3, 4))

### 16. Access the first element of a nested tuple.

In [36]:
t=(1,2,3,(4,5,6))
for i in t:
    if type(i)==tuple:
        for j in i:
            print(j)
            break

4

### 17. Create a tuple with a single element.

In [38]:
t=(1)
t

1

### 18. Compare two tuples.

In [36]:
t1=(1,2,3)
t2=(1,2,3,4)
if t1==t2:
    print("equal")
else:
    print("unequal")

unequal

### 19. Delete a tuple.

In [39]:
t=(1,2,3)
t=list(t)
t.clear()
tuple(t)

()

### 20. Slice a tuple.

In [39]:
t=(1,2,3,4,5)
t[0:2]

(1, 2)

### 21. Find the maximum value in a tuple.

In [48]:
t=(4,5,6,8,9)
t=list(t)
t.sort(reverse=True)
t[0]

9

### 22. Find the minimum value in a tuple.

In [49]:
t=(4,5,6,8,9)
t=list(t)
t.sort()
t[0]

4

### 23. Convert a string to a tuple of characters.

In [50]:
s=input("enter the string")
tuple(s)

enter the string rachit

('r', 'a', 'c', 'h', 'i', 't')

### 24. Convert a tuple of characters to a string.

In [40]:
t=("r","a","c","h","i","t")
s=""
for i in t:
    s=s+"".join(i)
print(s)

rachit

### 25. Create a tuple from multiple data types.

In [58]:
t=("rachit",466,True)
t

('rachit', 466, True)

### 26. Check if two tuples are identical.

In [60]:
t1=(1,2,3)
t2=(1,2,3,4)
if t1==t2:
    print("identical")
else:
    print("not identical")

not identical

### 27. Sort the elements of a tuple.

In [66]:
t=(1,2,5,9,4,5)
t=list(t)
t.sort()
t=tuple(t)
t

(1, 2, 4, 5, 5, 9)

### 28. Convert a tuple of integers to a tuple of strings.

In [41]:
t=(1,2,3,4,5,6)
tuple(map(str,t))

('1', '2', '3', '4', '5', '6')

### 29. Convert a tuple of strings to a tuple of integers.

In [42]:
t=("1","2","3","4","5","6")
tuple(map(int,t))

(1, 2, 3, 4, 5, 6)

### 30. Merge two tuples.

In [67]:
x=(1,2,3)
y=(4,5,6,7,8,9)
x=x+y
x

(1, 2, 3, 4, 5, 6, 7, 8, 9)

### 31. Flatten a nested tuple.

In [53]:
t=(1,2,3,(4,5))
l=[]
for i in t:
    if type(i)==tuple:
        for j in i:
            l.append(j)
    else:
        l.append(i)
l=tuple(l)
l

(1, 2, 3, 4, 5)

### 32. Create a tuple of the first 5 prime numbers.

In [29]:
def prime():
    l=[]
    for i in range(2,12):
        c=0
        for j in range(1,12):
            if i%j==0:
                c=c+1
        if c==2:
            yield i

In [30]:
tuple(prime())

(2, 3, 5, 7, 11)

### 33. Check if a tuple is a palindrome.

In [74]:
t=(1,2,3,2,1)
if t==t[::-1]:
    print("palindrome")
else:
    print("not palindome")

palindrome

### 34. Create a tuple of squares of numbers from 1 to 5.

In [76]:
t=(1,2,3,4,5)
tuple(i**2 for i in t)

(1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [78]:
t

(1, 2, 3, 4, 5)

In [79]:
tuple(filter(lambda x:x%2==0,t))

(2, 4)

### 36. Multiply all elements in a tuple by 2.

In [81]:
tuple(map(lambda x:x*2,t))

(2, 4, 6, 8, 10)

### 37. Create a tuple of random numbers.

In [58]:
import random

In [60]:
tuple(random.randint(1,100) for i in range(10))

(24, 71, 71, 17, 20, 29, 58, 64, 46, 63)

### 38. Check if a tuple is sorted.

In [55]:
l=(1,9,4,5,7,8)
l=list(l)
l1=l[:]
l1.sort()
if l==l1:
    print("sorted")
else:
    print("unsorted")

unsorted

### 39. Rotate a tuple to the left by `n` positions.

In [56]:
l=(1,2,3,8,9,4,6,2)
n=int(input("enter the rotation"))
l=l[n:]+l[:n]
l

enter the rotation 3

(8, 9, 4, 6, 2, 1, 2, 3)

### 40. Rotate a tuple to the right by `n` positions.

In [57]:
l=(1,2,3,8,9,4,6,2)
n=int(input("enter the rotation"))
l=l[-n:]+l[:-n]
l

enter the rotation 3

(4, 6, 2, 1, 2, 3, 8, 9)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [82]:
a,b=0,1
for i in range(5):
    c=a+b
    print(a)
    a,b=b,c

0
1
1
2
3

### 42. Create a tuple from user input.

In [86]:
l= []
n =int(input("enter the number"))
for i in range(0,n):
    j=input()
    l.append(j)
l=tuple(l)
l

enter the number 2
 rachit
 4

('rachit', '4')

### 43. Swap two elements in a tuple.

In [63]:
t=(1,2,3,4,5,6)
t=list(t)
t[0],t[2]=t[2],t[0]
t=tuple(t)
t

(3, 2, 1, 4, 5, 6)

### 44. Reverse the elements of a tuple.

In [90]:
t=(1,2,3,45,"rachit")
t1=t[::-1]
t1

('rachit', 45, 3, 2, 1)

### 45. Create a tuple of the first `n` powers of 2.

In [96]:
n=int(input())
tuple(2**i for i in range(n+1))

 5

(1, 2, 4, 8, 16, 32)

### 46. Find the longest string in a tuple of strings.

In [17]:
l=("rachit","pachauri","sudh")
res=len(max(l,key=len))
res
for i in l:
    if len(i)==res:
        print(i)

pachauri

### 47. Find the shortest string in a tuple of strings.

In [18]:
l=["rachit","pachauri","sudh"]
res=len(min(l,key=len))
res
for i in l:
    if len(i)==res:
        print(i)

sudh

### 48. Create a tuple of the first `n` triangular numbers.

In [68]:
s=0
n=int(input("enter n terms"))
l=[]
for i in range(1,n+1):
    s=s+i
    l.append(s)
l=tuple(l)
l

enter n terms 10

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

### 49. Check if a tuple contains another tuple as a subsequence.

In [40]:
l=(1,2,3,4,5,[1,2,3])
l=list(l)
l1=[]
l2=[]
for i in l:
    if type(i)==list:
        for j in i:
            l1.append(j)
    elif type(i)!=list:
        l2.append(i)

        
l1=set(l1)
l2=set(l2)
l1.issubset(l2)

True

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [71]:
t=(1,2,3,4,56,7,8)
l=len(t)
l1=[]
for i in range(l):
    if i%2==0:
        l1.append(1)
    else:
        l1.append(0)
l1=tuple(l1)
l1

(1, 0, 1, 0, 1, 0, 1)

## Set Based Practice Problem :

### 1. Create a set with integers from 1 to 5.

In [26]:
{i for i in range(1,6)}

{1, 2, 3, 4, 5}

## 2. Add an element to a set.

In [28]:
s={1,2,3,4,5}
s.add(6)
s

{1, 2, 3, 4, 5, 6}

## 3. Remove an element from a set.

In [30]:
s={1,2,3,4,5}
s.remove(3)
s

{1, 2, 4, 5}

### 4. Check if an element exists in a set.

In [2]:
n = int(input("enter the number "))
s= {1,2,3,4,5}
s=list(s)
flag=False
for i in s:
    if n==i:
        flag=True
if flag==True:
    print("found")
else:
    print("not found")

enter the number  6

not found

### 5. Find the length of a set without using the `len()` function.

In [4]:
s={1,2,3,4,5,"sudh",6,6}
c=0
for i in s:
    c=c+1
print(c)

7

## 6. Clear all elements from a set.

In [33]:
s={1,2,3,4,"sudh"}
s.clear() 
print(s)

set()

### 7. Create a set of even numbers from 1 to 10.

In [4]:
l={1,2,3,4,5,6}
{i for i in l if i%2==0}

{2, 4, 6}

### 8. Create a set of odd numbers from 1 to 10.

In [5]:
l={1,2,3,4,5,6}
{i for i in l if i%2!=0}

{1, 3, 5}

### 9. Find the union of two sets.

In [9]:
s1={1,2,3}
s2={4,5,6}
print(s1.union(s2))

{1, 2, 3, 4, 5, 6}

### 10. Find the intersection of two sets.

In [2]:
s1={1,2,3,4}
s2={4,5,6}
print(s1.intersection(s2))

{4}

### 11. Find the difference between two sets.

In [3]:
s1={1,2,3,4}
s2={4,5,6}
print(s1.difference(s2))

{1, 2, 3}

### 12. Check if a set is a subset of another set.

In [5]:
s1={1,2,3,4,5,6}
s2={4,5,6}
print(s2.issubset(s1))

True

### 13. Check if a set is a superset of another set.

In [6]:
s1={1,2,3,4,5,6}
s2={4,5,6}
print(s1.issuperset(s2))

True

### 14. Create a set from a list.

In [11]:
l = [1,2,3,4,5,6,7,7,"sudh"]
print(set(l))

{1, 2, 3, 4, 5, 6, 7, 'sudh'}

### 15. Convert a set to a list.

In [10]:
s={1,2,3,4,5,"rachit"}
print(list(s))

[1, 2, 3, 4, 5, 'rachit']

### 16. Remove a random element from a set.

In [9]:
s={1,2,3,4,5}
s.pop()
s

{2, 3, 4, 5}

### 17. Pop an element from a set.

In [15]:
s={1,2,3,4,5,6}
s.pop()

1

### 18. Check if two sets have no elements in common.

In [27]:
s1={1,2,3,4,5}
s2={5,6,7,8}
if s1.intersection(s2)==set():
    print("no common element")
else:
    print("common element")

common element

### 19. Find the symmetric difference between two sets.

In [28]:
s1={1,2,3,4,5}
s2={5,6,7,8}
s1.symmetric_difference(s2)

{1, 2, 3, 4, 6, 7, 8}

### 20. Update a set with elements from another set.

In [33]:
s1={1,2,3,4,5}
s2={5,6,7,8}
s1.update(s2)

s1

{1, 2, 3, 4, 5, 6, 7, 8}

### 21. Create a set of the first 5 prime numbers.

In [25]:
def prime():
    l=[]
    for i in range(2,12):
        c=0
        for j in range(1,12):
            if i%j==0:
                c=c+1
        if c==2:
            yield i

In [26]:
set(prime())

{2, 3, 5, 7, 11}

### 22. Check if two sets are identical.

In [37]:
s1={5,6,7,8}
s2={5,6,7,8}
if s1==s2:
    print("identical")
else:
    print("not identical")

identical

### 23. Create a frozen set.

In [7]:
s={1,2,3,4,5}
frozenset(s)
s

frozenset({1, 2, 3, 4, 5})

### 24. Check if a set is disjoint with another set.

In [41]:
s1={1,2,3,4}
s2={5,6,7,8}
if s1.intersection(s2)==set():
    print("disjoint")
else:
    print("no disjoint")

disjoint

### 25. Create a set of squares of numbers from 1 to 5.

In [43]:
{i**2 for i in range(1,6)}

{1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [4]:
s={1,2,3,4,5}
set(filter(lambda x:x%2==0,s))

{2, 4}

### 27. Multiply all elements in a set by 2.

In [6]:
s={1,2,3,4,5}
set(map(lambda x:x*2,s))

{2, 4, 6, 8, 10}

### 28. Create a set of random numbers.

In [13]:
import random

In [15]:
{random.randint(1,100) for i in range(10)}

{6, 13, 25, 32, 35, 36, 53, 63, 64, 71}

### 29. Check if a set is empty.

In [6]:
s={}
if s=={}:
    print("empty")
else:
    print("not empty")

empty

### 30. Create a nested set (hint: use frozenset).

In [26]:
s=set()
s.add(frozenset((1,2)))
s.add(frozenset((3,4)))
s

{frozenset({3, 4}), frozenset({1, 2})}

### 31. Remove an element from a set using the discard method.

In [13]:
s={1,2,3,4,5,6}
s.discard(1)
s

{2, 3, 4, 5, 6}

### 32. Compare two sets.

In [15]:
s1={1,2,3}
s2={1,2,3,3}
if s1==s2:
    print("equal")
else:
    print("not equal")

equal

### 33. Create a set from a string.

In [19]:
s= "rachit"
s=set(s)
s

{'a', 'c', 'h', 'i', 'r', 't'}

### 34. Convert a set of strings to a set of integers.

In [27]:
s={"1","2","3"}
set(map(int,s))

{1, 2, 3}

### 35. Convert a set of integers to a set of strings.

In [28]:
s={1,2,3}
set(map(str,s))

{'1', '2', '3'}

### 36. Create a set from a tuple.

In [22]:
t=(1,2,3,4,5,6,7,7,8,1,2)
t=set(t)
t

{1, 2, 3, 4, 5, 6, 7, 8}

### 37. Convert a set to a tuple.

In [24]:
s={1,2,3,4,5,"rachit"}
s=tuple(s)
s

(1, 2, 3, 4, 5, 'rachit')

### 38. Find the maximum value in a set.

In [26]:
from functools import reduce

In [29]:
s={1,2,3,4,5,6}
reduce(lambda x,y:x if x>y else y,s )

6

### 39. Find the minimum value in a set.

In [30]:
s={1,2,3,4,5,6}
reduce(lambda x,y:x if x<y else y,s )

1

### 40. Create a set from user input.

In [48]:
for i i 
set(input("enter the words:").split())

enter the words: rachit,hhi

{'rachit,hhi'}

### 41. Check if the intersection of two sets is empty.

In [6]:
x={1,2,3}
y={3,4,5,6}
if x.intersection(y)==set():
    print("empty")
else:
    print("not empty")

not empty

### 42. Create a set of the first 5 Fibonacci numbers.

In [7]:
a,b=0,1
for i in range(5):
    c=a+b
    print(a)
    a,b=b,c

0
1
1
2
3

### 43. Remove duplicates from a list using sets.

In [11]:
l = [1,2,3,4,5,6,6,7,8,9]
l=set(l)
l=list(l)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 44. Check if two sets have the same elements, regardless of their count.

In [36]:
x={1,2,3,4,5,6}
y={1,2,3,4,5}
if y.issubset(x)==True:
    print("same")
else:
    print("different")

same

### 45. Create a set of the first `n` powers of 2.

In [20]:
s={}
n=int(input("Enter the terms"))
{2**i for i in range(n+1)}

Enter the terms 5

{1, 2, 4, 8, 16, 32}

### 46. Find the common elements between a set and a list.

In [37]:
l=[1,2,3,4,5]
s={3,4,5,6,7,8}
l=set(l)
l.intersection(s)

{3, 4, 5}

### 47. Create a set of the first `n` triangular numbers.

In [3]:
s=0
l=[]
n=int(input("enter the terms"))
for i in range(1,n+1):
    s=s+i
    l.append(s)
l=set(l)
l

enter the terms 5

{1, 3, 6, 10, 15}

### 48. Check if a set contains another set as a subset.

In [22]:
x={2,3}
y={1,2,3}
x.issubset(y)

True

### 49. Create a set of alternating 1s and 0s of length `n`.

In [46]:
s=[]
l=int(input("enter the length"))
for i in range(l):
    if i%2==0:
        s.append(1)
    else:
        s.append(0)
s=set(s)
s

enter the length 7

{0, 1}

### 50. Merge multiple sets into one.

In [25]:
x={1,2}
y={3,4}
z={5,6}

x.union(y.union(z))

{1, 2, 3, 4, 5, 6}